<template name="applyPage">
  <div class="apply">
    {{#if equals currentPage "apply"}}
    {{#each question}}
    <div class="quesCon">
    <script>
    var ques = "{{ques}}"
    ques = ques.split('::,')

    var amt = Number('{{quesCount}}')
    amt += 1
    for(var i = 0; i < amt; i++){
      ques[i] = ques[i].replace("::", "")
      $('.quesCon').append('<div class="quesTitle">'+ques[i]+'</div>')
      $('.quesCon').append('<input class="quesResp" placeholder="Response" id="qu'+i+'">')
    }
    </script>
  </div>
  {{/each}}
  <button>Apply</button>
  {{/if}}
</div>
</template>
